$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "bootstrap-sass/lib/bootstrap";

/* Put your CSS here */
html, body {
  margin: 20px;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  width: 1345px;
}

.hero-unit {
  margin: 10px;
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
}

div#section-impurgent {
  background: #eee url("../images/icon-impurgent.png") no-repeat right bottom;
}

div#section-urgent {
  background: #eee url("../images/icon-urgent.png") no-repeat left bottom;
}

div#section-important {
  background: #eee url("../images/icon-important.png") no-repeat right top;
}

div#section-none {
  background: #eee url("../images/icon-none.png") no-repeat left top;
}
